.App {
  font-size: 12px;
}

.App-logo {
  height: 80px;
}

.App-header {
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row; /* Safari 6.1+ */
  display: flex;
  flex-direction: row;
  background-color: #222;
  height: 80px;
  color: white;
  align-items: flex-end;
  padding-left: 10px;
}

input {
  margin-left: 5px;
  margin-right: 7px;
}

select {
  margin: 0 5px 0 5px;
}

label {
  margin: 3px 5px 0 0;
}

.chord {
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row; /* Safari 6.1+ */
  display: flex;
  flex-direction: row;
  height: 240px;
}

.display {
  padding: 0 15px 0 15px;
  margin-right: 10px;
  height: 80px;
  color:lightblue;
  background-color: black
}

.display h1, h2 {
  margin: 5px 0 0 0;
  padding: 0;
}

.display p {
  margin: 0;
  padding: 0;
}

.columnContainer {
  height: 100px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.innerColumnContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sectionHeader {
  height: 13px;
  margin: 4px 10px 4px 0;
  color: #1070A0;
  background-color: lightblue;
  text-align: center;
  text-transform: uppercase;
}

.controls {
  display: flex;
  flex-direction: row;
}

.control {
  display: flex;
  flex-direction: row;
}

button {
  width: 95px;
}

button.alternatives {
  width: 120px;
  text-align: center;
}

.piano {
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row; /* Safari 6.1+ */
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.octave {
  width: 246px;
  height: 200px;
}

.white_container {
  width: 100%;
  height: 100%;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row; /* Safari 6.1+ */
  display: flex;
  flex-direction: row;
}

.white_key {
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: white;
  border: 1px black solid;
}

.black_container {
  height: 65%;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row; /* Safari 6.1+ */
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}

.two_black {
  width: 25%;
  transform: translate(35%, -154%)
}

.three_black {
  width: 42%;
  transform: translate(120%, -254%)
}

.black_key {
  z-index: 1;
  background-color: black;
}

.black_key_1 {
  width: 32%;
}

.black_key_2 {
  width: 20%;
}

.role_1 {
  background-color: green;
}

.role_3 {
  background-color: yellow;
}


.role_5 {
  background-color: red;
}

.role_7 {
  background-color: blue;
}

.role_null {
  background-color: violet;
}

.black_key.played {
  border: 2px black solid;
  border-top: 1px black solid;
}

.black_key_1.played {
  width: 30%;
}

.black_key_2.played {
  width: 18%;
}

.octave_number {
  height: 15px;
  margin: 5px;
}

.inator {
  width: 1000px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ledArray {
  width: 30%;
  display: flex;
  flex-direction: row;
  height: 20px;
  justify-content: space-between;
}

.ledContainer {
  height: 30px;
  width: 20px;
  min-width: 20px;
  max-width: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 3px;
}

.led {
  height: 10px;
  min-height: 10px;
  width: 20px;
  min-width: 20px;
  max-width: 20px;
  flex: 1;
  margin: 3px;
}

.ledLabel {
  height: 10px;
  width: 20px;
  min-width: 20px;
  max-width: 20px;
  flex: 1;
  margin: 3px;
  text-align: center;
  font-size: 12px;
}

.off {
  background-color: grey;
}

.on {
  background-color: #10C000;
}

footer {
  width: 1000px;
  font-size: 12px;
  text-align: center;
}