body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 400;
  font-size: 36px;
  margin: 10px;
}

h2 {
font-family: "Segoe UI",Arial,sans-serif;
font-weight: 400;
font-size: 18px;
}
